<p id="notice"><%= notice %></p>

<h1>Rides</h1>
<section>  
  <div class='container'>
    <ul>
      <% @rides.each do |ride| %>
        <%= render 'ride_card', ride: ride, user: @driver %>
      <% end %>
    </ul>
  </div>
</section>

<%= link_to 'New Ride', new_user_ride_path(@driver) %>
