<p id="notice"><%= notice %></p>
<div class='d-flex flex-row justify-content-between align-items-center'>
  <h1>Corridas</h1>
  <%= link_to 'Novo', new_user_ride_path(@logged_user), class: 'btn btn-primary' %>
</div>

<section class='d-flex justify-content-center'>  
  <ul class='w-75 p-3'>
    <% @rides.each do |ride| %>
      <%= render 'ride_card', {ride: ride, user: @logged_user} %>
    <% end %>
  </ul>
</section>

